WsGastos/src/main/resources/gastos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://spring.ws.gastos-web-service"
           targetNamespace="http://spring.ws.gastos-web-service"
           elementFormDefault="qualified">

    <xs:element name="getGastosRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="codigo" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getGastosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gasto" type="tns:gasto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="gasto">
        <xs:sequence>
            <xs:element name="fecha" type="xs:string"/>
            <xs:element name="codigo" type="xs:integer"/>
            <xs:element name="nombreGasto" type="xs:string"/>
            <xs:element name="dineroConsumido" type="xs:double"/>
            <xs:element name="fuenteGasto" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getListaGastosResponse">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="listaGasto" type="tns:gasto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>