Champions-Formula-One/src/main/resources/formula1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="formula1.champions-web-services"
           targetNamespace="formula1.champions-web-services"
           elementFormDefault="qualified">

    <xs:element name="getChampionF1Request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getChampionF1Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="champion" type="tns:champion"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="champion">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="apellido" type="xs:string"/>
            <xs:element name="equipoActual" type="xs:string"/>
            <xs:element name="podios" type="xs:int"/>
            <xs:element name="poles" type="xs:int"/>
            <xs:element name="victorias" type="xs:int"/>
            <xs:element name="campeonatos" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>