mangas/Mangas/src/main/resources/mangas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://ws/mangas"
           targetNamespace="http://ws/mangas"
           elementFormDefault="qualified">

    <xs:element name="getMangaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMangaResponse">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="manga" type="tns:manga"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

<!-- objeto de respuesta  -->
    <xs:complexType name="manga">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="chapter" type="xs:int"/>
            <xs:element name="date" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>